<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ninja.oppai.mac-powermetrics-exporter</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/mac-powermetrics-exporter</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/mac-powermetrics-exporter/mac-powermetrics-exporter.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/mac-powermetrics-exporter/mac-powermetrics-exporter.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist> 
